@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CrudNetMVC.Models.Contacto
@{
    ViewData["Title"] = "Borrar Contacto";
}

<h1 class="text-center">Contacto con .NET7 (.NET core MVC)</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Borrar Usuario Contacto</strong></h3>
            </div>
            
            <div class="card-body">
                <form asp-action="Borrar" method="post">
                @*ID del usuario como campo oculto*@
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                    <li class="list-group-item"><strong>Telefono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
                    <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
                    <li class="list-group-item"><strong>Correo: </strong>@Html.DisplayFor(m => m.Correo)</li>
                </ul>
                <div class="form-group text-center mt-3">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-person-fill"></i> Borrar Contacto</button>
                </div>
                </form>
                <a asp-action="Index" asp-action="Index" class="btn btn-primary btn-sm mt-3">Volver</a>
            </div>
        </div>
    </div>
</div>
