@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CrudNetMVC.Models.Contacto
@{
    ViewData["Title"] = "Editar Contacto";
}

<h1 class="text-center">Contacto con .NET7 (.NET core MVC)</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Editar Usuario Contacto</strong></h3>
            </div>

            <div class="card-body">
                <form asp-action="Editar">

                    <!--ID del usuario como campo oculto-->
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" placeholder="Ingresa el Telefono" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" placeholder="Ingresa el Celular" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Correo" class="control-label"></label>
                        <input asp-for="Correo" class="form-control" placeholder="Ingresa el Correo" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center mt-3">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Editar Contacto</button>
                    </div>
                </form>
                <a asp-action="Index" asp-action="Index" class="btn btn-primary btn-sm">Volver</a>
            </div>
        </div>
    </div>
</div>